annotated-types
anyio
arrow
beautifulsoup4
binaryornot
bs4
chardet
click
contourpy
cookiecutter
cycler
fastapi
fonttools
fsspec
h11
huggingface-hub
joblib
kiwisolver
markdown-it-py
matplotlib
mdurl
nltk
numpy
pandas
pydantic
pydantic-core
pyparsing
python-dotenv
python-slugify
pytz
regex
rich
safetensors
scikit-learn
scipy
sentence-transformers
shellingham
sniffio
soupsieve
starlette
text-unidecode
threadpoolctl
tokenizers
torchaudio
torchvision
tqdm
transformers
typer
typing-extensions
tzdata
uvicorn